.metadata
.metadata/
.metadata/.log
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/68/7078f48b4e2600191b77cbc31c9ddc64
.metadata/.plugins/org.eclipse.core.resources/.history/a2/10e49acf4e2600191b77cbc31c9ddc64
.metadata/.plugins/org.eclipse.core.resources/.history/a2/f0a6ad374f2600191b77cbc31c9ddc64
.metadata/.plugins/org.eclipse.core.resources/.history/ce/80a3375e4e2600191b77cbc31c9ddc64
.metadata/.plugins/org.eclipse.core.resources/.history/d4/d0484b324e2600191b77cbc31c9ddc64
.metadata/.plugins/org.eclipse.core.resources/.history/d7/f09433374f2600191b77cbc31c9ddc64
.metadata/.plugins/org.eclipse.core.resources/.history/f5/3089ec8b4e2600191b77cbc31c9ddc64
.metadata/.plugins/org.eclipse.core.resources/.projects/Unit 0/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Unit 0/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Unit 1/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Unit 1/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Unit 2/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Unit 2/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Unit 3/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Unit 3/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Unit 3/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/3.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/MPHRunner.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1020932452.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/version.ini
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_1.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_2
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_3
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/write.lock
/.recommenders/
